body {
    font-family: "helvetica";
    margin: 0;
    padding: 0;
    background-image: url("img/motogp-vector.svg");
  }
  
  .Piloti{
    background-color: rgb(204, 50, 48);
    border-radius: 10px;
  }

  .menu {
    background-color: rgb(16, 3, 2);
    border: 3px solid red;
    box-shadow: 0 0 20px red;
  }
  
  .menu ul {
    list-style: none;
    padding: 5px;
    margin: 0px;
  }
  
  .menu ul li {
    display: inline;
  }
  
  .menu ul li img {
    vertical-align: middle;  /* allinea verticalmente l'immagine */
    padding-bottom: 12px;
  }
  
  .menu ul li a {
    display: inline;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
  }
  
  .menu ul li a:hover {
    background-color: rgb(204, 50, 48);
    border-radius: 10px;
  }

  .row{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;

  }

  .row ul{
    list-style: none;
  }

  .row ul li{
    margin-bottom: 100px;
  }

  .ducatiLenovoteam{
    border: 3px solid rgb(100, 32, 31);
    background: linear-gradient(135deg, rgba(255,0,0,0) 0%, rgba(255,0,0,0) 40%, rgba(100, 32, 31,1) 100%), rgb(46, 46, 46); /* Aggiunge un gradiente di colore */
  }

  .LCRHonda{
    border: 3px solid rgb(30, 30, 30);
    background: linear-gradient(135deg, rgba(255,0,0,0) 0%, rgba(255,0,0,0) 40%, rgba(88, 92, 95,1) 100%), rgb(46, 46, 46); /* Aggiunge un gradiente di colore */
  }

  .MonsterEnergyYamahaMotoGP{
    border: 3px solid rgb(24, 28, 33);
    background: linear-gradient(135deg, rgba(255,0,0,0) 0%, rgba(255,0,0,0) 40%, rgba(24, 36, 64,1) 100%), rgb(46, 46, 46); /* Aggiunge un gradiente di colore */
  }

  .PrimaPramacRacing{
    border: 3px solid rgb(24, 28, 33);
    background: linear-gradient(135deg, rgba(255,0,0,0) 0%, rgba(255,0,0,0) 40%, rgba(53, 37, 79,1) 100%), rgb(46, 46, 46); /* Aggiunge un gradiente di colore */
  }

  .RedBullGASGASTech3{
    border: 3px solid rgb(24, 28, 33);
    background: linear-gradient(135deg, rgba(255,0,0,0) 0%, rgba(255,0,0,0) 40%, rgba(59, 29, 36,1) 100%), rgb(46, 46, 46); /* Aggiunge un gradiente di colore */
  }

  .RepsolHondaTeam{
    border: 3px solid rgb(24, 28, 33);
    background: linear-gradient(135deg, rgba(255,0,0,0) 0%, rgba(255,0,0,0) 40%, rgba(92, 70, 42,1) 100%), rgb(46, 46, 46); /* Aggiunge un gradiente di colore */
  }

  .RedBullKTMFactoryRacing{
    border: 3px solid rgb(24, 28, 33);
    background: linear-gradient(135deg, rgba(255,0,0,0) 0%, rgba(255,0,0,0) 40%, rgba(89, 53, 37,1) 100%), rgb(46, 46, 46); /* Aggiunge un gradiente di colore */
  }

  .ApriliaRacing{
    border: 3px solid rgb(24, 28, 33);
    background: linear-gradient(135deg, rgba(255,0,0,0) 0%, rgba(255,0,0,0) 40%, rgba(51, 73, 47,1) 100%), rgb(46, 46, 46); /* Aggiunge un gradiente di colore */
  }

  .TrackhouseRacing{
    border: 3px solid rgb(24, 28, 33);
    background: linear-gradient(135deg, rgba(255,0,0,0) 0%, rgba(255,0,0,0) 40%, rgba(30, 49, 79,1) 100%), rgb(46, 46, 46); /* Aggiunge un gradiente di colore */
  }

  .PeraminaEnduroVR46RacingTeam{
    border: 3px solid rgb(24, 28, 33);
    background: linear-gradient(135deg, rgba(255,0,0,0) 0%, rgba(255,0,0,0) 40%, rgba(84, 95, 47,1) 100%), rgb(46, 46, 46); /* Aggiunge un gradiente di colore */
  }

  .GresiniRacingTeam{
    border: 3px solid rgb(24, 28, 33);
    background: linear-gradient(135deg, rgba(255,0,0,0) 0%, rgba(255,0,0,0) 40%, rgba(64, 72, 86,1) 100%), rgb(46, 46, 46); /* Aggiunge un gradiente di colore */
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: center;
    bottom: 0;
    width: 100%;
}